@import "~@angular/material/theming";
@include mat-core();
$unibell-mp3-primary: mat-palette($mat-indigo);
$unibell-mp3-accent: mat-palette($mat-pink, A200, A100, A400);
$unibell-mp3-warn: mat-palette($mat-red);
$unibell-mp3-theme: mat-light-theme(
  (
    color: (
      primary: $unibell-mp3-primary,
      accent: $unibell-mp3-accent,
      warn: $unibell-mp3-warn,
    ),
  )
);
@include angular-material-theme($unibell-mp3-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
