.main {
  max-width: 1280px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
}

.audio-table {
  width: 100%;
}

.audio-table__head {
  font-size: 14px;
  font-weight: 500;
  color: #000000de;
}

tr.player-row {
  height: 0;
}

tr.audio-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.audio-row:not(.expanded-row):active {
  background: #efefef;
}

.audio-row td {
  border-bottom-width: 0;
}

.audio-row-container {
  overflow: hidden;
  display: flex;
}

.audio-player {
  width: 100%;
  margin: 1rem 0;
}
